body {
	background: url("images/interlaken-2000.jpg");
	background-repeat: no-repeat;
    background-position: 100% 13%; 
    height: 100%;
    width: cover;
    color: #000000;

}

.home {
	background-color: rgba(255,255,255, 0.7);
	float: right;
	position: absolute;
	right: 0;
	max-width:550px;
    margin: auto;
	padding: 0px 30px 25px 30px;
	margin-top: 10%;
}

.title {
	font-family: 'oswald', sans-serif;
	font-size: 56px;
	font-weight: 300;
	line-height: 1.1em;
	margin-top: 20px;
}

.intro{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3em;
	margin-top: -25px;

}


.trailbtn {
	background-color: rgba(0,0,0,0.8);
	color: white;
	padding: 15px 5px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	width: 20em;
}

.hikingtrails {
	position: relative;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.3em;
	text-align: left;
}


.trailoptions {
	display: none;
	position: absolute;
	background-color: #f6f6f6;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
	z-index: 1;
	width: 17.75em;
	text-align: center;
}

.trailoptions a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	border: 1px solid #ffffff;
}

.trailoptions a:hover {background-color: #e0e0e0;}

.hikingtrails:hover .trailoptions {
	display: block;
}

.hikingtrails:hover .trailbtn{
	background-color: #000000;
}
